xsds/hardware.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="Hardware_NEW">
        <xs:annotation>
        <xs:documentation>Describes HPCC Hardware</xs:documentation>
        </xs:annotation>

        <xs:complexType>
            <xs:sequence>

                <xs:element name="ComputerType">
                <xs:annotation>
                    <xs:appinfo>
                        <title>Computer Types</title>
                    </xs:appinfo>
                </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ComputerType" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="name" use="required">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <title>Name</title>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="manufacturer" type="xs:string" use="optional">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <title>Manufacturer</title>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="computerType" type="xs:string" use="optional">
                                      <xs:annotation>
                                        <xs:appinfo>
                                          <title>Computer Type</title>
                                        </xs:appinfo>
                                      </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="opSys" type="xs:string" use="optional">
                                      <xs:annotation>
                                        <xs:appinfo>
                                          <title>opSys</title>
                                        </xs:appinfo>
                                      </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                <xs:element name="Switches">
                    <xs:annotation>
                        <xs:appinfo>
                            <title>Switches</title>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                                <xs:element name="Deep">
                                    <xs:complexType>
                                        <xs:element name="Switch" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string" use="optional">
                                                    <xs:annotation>
                                                        <xs:appinfo>
                                                            <title>Name</title>
                                                        </xs:appinfo>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Domains">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Domain" maxOccurs="unbounded">
                                <xs:complexType>

                                    <xs:attribute name="name">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <title>Name</title>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:attribute>

                                    <xs:attribute name="snmpSecurityString">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <title>SNMP Security String</title>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:attribute>

                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Computers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Computer" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="name">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <title>Name</title>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="domain">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <title>Domain</title>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="computerType">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                    <title>Computer Type</title>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="netAddress">
                                        <xs:annotation>
                                            <xs:appinfo>
                                                <title>Network Address</title>
                                            </xs:appinfo>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
            </xs:element>

            <xs:element name="NAS">
                <xs:annotation>
                    <xs:appinfo>
                        <title>NAS</title>
                    </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="NAS" maxOccurs="unbounded">
                            <xs:complexType>

                                <xs:attribute name="name">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <title>Name</title>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:attribute>

                                <xs:attribute name="mask">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <title>Mask</title>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:attribute>

                                <xs:attribute name="directory">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <title>Directory</title>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:attribute>

                                <xs:attribute name="subnet">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <title>Subnet</title>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:attribute>

                                <xs:attribute name="trace">
                                    <xs:annotation>
                                        <xs:appinfo>
                                            <title>Trace</title>
                                        </xs:appinfo>
                                    </xs:annotation>
                                </xs:attribute>

                            </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

            </xs:sequence>
            <xs:attribute name="attrib1name"/>
        </xs:complexType>
   </xs:element>
</xs:schema>
